@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: interblack;
    src: url(/Inter-Black.ttf);
}
@font-face {
    font-family: interbold;
    src: url(/Inter-Bold.ttf);
}
@font-face {
    font-family: interextrabold;
    src: url(/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: interextralight;
    src: url(/Inter-ExtraLight.ttf);
}
@font-face {
    font-family: interlight;
    src: url(/Inter-Light.ttf);
}
@font-face {
    font-family: intermedium;
    src: url(/Inter-Medium.ttf);
}
@font-face {
    font-family: interregular;
    src: url(/Inter-Regular.ttf);
}
@font-face {
    font-family: intersemibold;
    src: url(/Inter-SemiBold.ttf);
}
@font-face {
    font-family: interthin;
    src: url(/Inter-Thin.ttf);
}